div {
  border: 1px solid black;
}

/*                   HEADER                   */
.header p {
  color: MediumAquamarine;
  padding: 0px 5px;
}

#navlist {
  list-style-type: none;
}

.header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  width: 100%;
  margin: 0 0;
  align-content: center;
  border-bottom: 1px solid black;
}
.sitelogo {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 5px;
  flex-grow: 1;
}
.nav {
  display: flex;
}

#navlist li {
  text-decoration: underline;
  padding: 5px 12px;
  display: inline-block;
}

/*                  MAIN BODY             */

.container {
  display: flex;


}

.column {
  margin: auto 5px;

}

.column .large {
  width: 630px;
}
.column .medium {
  width: 300px;
}
.column .small {
  width: 240px;
}
